[submodule "implementation/libs/gcn"]
	path = implementation/libs/gcn
	url = https://github.com/Cortys/gcn
[submodule "implementation/libs/sagpool"]
	path = implementation/libs/sagpool
	url = https://github.com/Cortys/SAGPool
